.header {
    background: #ffffff;
}

.header__inner {
    padding: 30px 0;
    margin: 0 auto;
    max-width: 1230px;
    text-align: center;
    border-bottom: 1px solid #f5f5f5;
}

.header__logo {
    color:#a99b8f;
    text-decoration: none;
    font-family: "Merriweather", serif;
    font-size: 24px;
}