.confirm__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.confirm__content-title {
    margin-bottom: 40px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 70%;
}

.confirm-table {
    border: 1px solid #c8bcb2;
}

.confirm-table__inner {
    width: 100%;
}

.confirm-table__title {
    padding: 15px;
    width: 20%;
    border-bottom: 1px solid #c8bcb2;
    background-color: #baa899;
    font-weight: bold;
}

.confirm-table__text {
    display: flex;
    padding: 15px;
    border-bottom: 1px solid #c8bcb2;
}

.confirm-table__text input {
    width: 100%;
    outline: none;
    border: none;
}

.form__button {
    display: flex;
    margin-top: 30px;
    text-align: center;
}

.form__button-submit {
    padding: 10px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 1px;
    background: #82756a;
    color: #ffffff;
    cursor: pointer;
}

.form__button-retouch {
    padding: 10px;
    width: 30%;
    height: 50px;
    border-bottom: 1px solid #baa899;
    background: #ffffff;
    color: #baa899;
    cursor: pointer;
}